# Tasks

Please first read assignment 2 instruction file, import necessary libararies, load the dataset and then write SPARQL query for following questions:

1. List the top four oldest people in the graph from oldest to youngest
2. Identify the shortest student who has at least four classmates 
3. List the teachers who have the highest salaries (in increasing order) and have at least five colleagues?
4. Give the mean (average) age of professors, both male and female, group by gender.
5. For each employee, calculate their "net salary"\
Net Salary Calculation = Base salary - income tax (%4 of the base salary) - pension (%6 of the base salary)

6. List all people with their first name or family name starting with the letter F, E, or A

7. List all `dbe:Researcher` using inference

Requirements: your query should also returns subclasses of `dbe:Researcher`, such as PhD Candidates and AssistantResearcher, without directly using their URI (use the `rdfs:subClassOf` properties)

8. Create missing relations when `:isSupervisedBy` is defined in one direction but not `:supervises` in the other direction. For example, if john `:isSupervisedBy` mary, then we know that mary `:supervises` john

Requirements: you should use a CONSTRUCT query to build the missing triples

9. Count the number of men and women per `rdf:type` in the graph (aka. the `a` relation)

10. Write a federated query from wikidata for retrieving inception date of Arya Parkerâ€™s college

**Important**

In the following cell you must provide code for loading dataset in a graph.

In [30]:
from rdflib import URIRef, BNode, Literal, Namespace
from rdflib.namespace import FOAF, DCTERMS, XSD, RDF, SDO
from rdflib import Graph
import validators


ex= Namespace("http://exampleorg/")
schema= Namespace("http://schemaorg/")
xsd= Namespace("http://wwww3org/2001/XMLSchema#")
rdfs= Namespace("http://wwww3org/2000/01/rdf-schema#")
wde= Namespace("https://wwwwikidataorg/wiki/")
wdp= Namespace("http://wwwwikidataorg/prop/statement/")
dbp= Namespace("http://dbpediaorg/property/")
dbe= Namespace("https://dbpediaorg/page/")
dbo= Namespace("https://dbpediaorg/ontology/")
geo= Namespace("http://wwwgeonamesorg/ontology#")
wiki= Namespace("http://wwwwikidataorg/entity/")
eg = Namespace("http://exampleorg/voc#")
rdf= Namespace("http://wwww3org/1999/02/22-rdf-syntax-ns#")
foaf= Namespace("http://xmlnscom/foaf/01/")
owl= Namespace("http://wwww3org/2002/07/owl#")
#load dataset in a graph

g = Graph()
g.parse('assignment2_dataset.ttl', format='turtle')

g.bind('ex',ex )
g.bind('schema',schema )
g.bind('xsd',xsd )
g.bind('rdfs',rdfs )
g.bind('wde',wde )
g.bind('dbp',dbp )
g.bind('dbe',dbe )
g.bind('dbo',dbo )
g.bind('geo',geo )
g.bind('wiki',wiki )
g.bind('eg',eg )
g.bind('rdf',rdf )
g.bind('foaf',foaf )
g.bind('owl',owl )


#write SPARQL queries

In [31]:
#SPARQL Query 1?
# List the top four oldest people in the graph from oldest to youngest

query_1 = """
SELECT ?person
WHERE {
    ?a rdfs:label ?person .
    ?a dbp:age ?age .

}
ORDER BY DESC(?age)
LIMIT 4
"""

qres_1 = g.query(query_1)
for row in qres_1:
    print(f"{row.person}")

Frank Jones
Katrine Phill
Arya Parker
John Brown

In [74]:
#SPARQL Query 2
# Identify the shortest student who has at least four classmates
# (PhD candidates are also included)

query_2 = """
SELECT ?name ?height
WHERE {
    ?student a/rdfs:subClassOf* dbe:Student .
    ?student rdfs:label ?name .
    ?student schema:height ?height .
    ?student ex:classmate ?classmate .
}
GROUP BY ?name ?height
HAVING (COUNT(?classmate)>= 4)
ORDER BY ASC(?height)

LIMIT 1
"""

qres_2 = g.query(query_2)
for row in qres_2:
    print(f"{row.name} with height {row.height}")

Harry Lee with height 177

In [107]:
#SPARQL Query 3
# List the teachers who have the highest salaries (in increasing order) and have at least five colleagues?
# fillip 9,500 / 6 colo
# John  5300 /6 colea
#

query_3 = """
SELECT ?name ?salary
WHERE {
    ?a schema:employee ?teacher;
     rdfs:label ?name .
    ?a schema:baseSalary ?salary .
    ?a schema:colleague ?colleague .
}

GROUP BY ?name ?salary
HAVING(COUNT(?colleague)>=5)
ORDER BY ASC(?salary)
"""

qres_3 = g.query(query_3)
for row in qres_3:
    print(f"{row.name} {row.salary}")

Arya Parker 5000
John Brown 5300
Phillip Miller 9500

In [125]:
#SPARQL Query 4
# Give the mean (average) age of professors, both male and female, group by gender.
# John Brown 53
# Phillip Miller 38


query_4 = """
SELECT (AVG(?age) as ?avgAge) ?gender
WHERE {
    ?a a wiki:Q121594 .
    ?a rdfs:label ?name .
    ?a dbp:age ?age.
    ?a schema:gender ?gender .
}
GROUP BY ?gender
"""

qres_4 = g.query(query_4)
for row in qres_4:
    print(f"{row.avgAge} {row.gender}")

45.5 http://schema.org/Male

In [ ]:
#SPARQL Query 5

In [ ]:
#SPARQL Query 6

In [ ]:
#SPARQL Query 7

In [ ]:
#SPARQL Query 8

In [ ]:
#SPARQL Query 9

In [ ]:
#SPARQL Query 10