# Tasks

Please first read assignment 2 instruction file, import necessary libararies, load the dataset and then write SPARQL query for following questions:

1. List the top four oldest people in the graph from oldest to youngest
2. Identify the shortest student who has at least four classmates 
3. List the teachers who have the highest salaries (in increasing order) and have at least five colleagues?
4. Give the mean (average) age of professors, both male and female, group by gender.
5. For each employee, calculate their "net salary"\
Net Salary Calculation = Base salary - income tax (%4 of the base salary) - pension (%6 of the base salary)

6. List all people with their first name or family name starting with the letter F, E, or A

7. List all `dbe:Researcher` using inference

Requirements: your query should also returns subclasses of `dbe:Researcher`, such as PhD Candidates and AssistantResearcher, without directly using their URI (use the `rdfs:subClassOf` properties)

8. Create missing relations when `:isSupervisedBy` is defined in one direction but not `:supervises` in the other direction. For example, if john `:isSupervisedBy` mary, then we know that mary `:supervises` john

Requirements: you should use a CONSTRUCT query to build the missing triples

9. Count the number of men and women per `rdf:type` in the graph (aka. the `a` relation)

10. Write a federated query from wikidata for retrieving inception date of Arya Parkerâ€™s college

**Important**

In the following cell you must provide code for loading dataset in a graph.

In [ ]:
#import libararies
#load dataset in a graph
#write SPARQL queries

In [ ]:
#SPARQL Query 1?

In [ ]:
#SPARQL Query 2

In [ ]:
#SPARQL Query 3

In [ ]:
#SPARQL Query 4

In [ ]:
#SPARQL Query 5

In [ ]:
#SPARQL Query 6

In [ ]:
#SPARQL Query 7

In [ ]:
#SPARQL Query 8

In [ ]:
#SPARQL Query 9

In [ ]:
#SPARQL Query 10